<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>{{hotel.hotel_name}}</h1>
        <p>Direccion: {{hotel.address}}</p>
        <p>Telefono :{{hotel.phone}}</p>
        <ul>
            {% for room in rooms %}
                <li>
                    {{room.code}} - {{room.room_type.name}}
                </li>
            {% endfor %}
        </ul>
</body>
</html>